/* ==========================================================================
Content
   ========================================================================== */
html{
    margin: 0;
    padding: 0;
}

body {
	background-color: #202020;
	color: #fff;
	font-family: Arial, helvetica;
	margin: 0;
    padding: 0;
}

a {
	color: #fff;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.container-fluid {
	background: slategrey;
}

.navbar-default {
	border-color: slategrey;
}

header {
	padding:0px 17px;
	z-index: 99999;
	position: relative;
  	height:140px;
}

/*navigation text color*/
.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover {
	color: rgba(255, 255, 255, 0.8);
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.navbar-toggle {
	background-color: rgba(255, 255, 255, 0.8);
}
/*end of navigation text color*/

/* end of header content*/

.jumbo {
	background-color: slategray;
}

.container {
	padding: 10px;
}

.test {
	color: white;
	background: #fc8a03;
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.test:hover {
	background: #d17303;
	color: white;
}

.panel-body {
	color: black;
}

.footer,.push {
	text-align: center;
   	height: 50px;
   	background-color: slategrey;
}

.foot {
	float: left;
}

.thumbnail {
	background-color: slategray;
	border: none;
}














